spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 5000

logging:
  level:
    root: DEBUG
    com.louislam.dockge: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
